.home {
    height: 100vh;
}
.landing {
    height: 80%;
    background: url('./../../assets//clock.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    /* height: 15rem; */
}
.landing .subtitle {
    color: gray;
}
.home .init {
    padding: 0.25rem 1rem;
    border-radius: 20px;
    background: #8E2143;
    color: #fff;
    margin-bottom: 3rem;
}
.home {
    text-align: right;
}
